.menu-item {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}
.animate-fade-in-out {
    animation-name: fade-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}